/* global.css */

/* Import Tailwind's base styles */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom global styles */
:root {
  --green: #64ffda;
  --font-mono: Menlo, Monaco, Consolas, "Courier New", monospace;
  --fz-sm: 12px;
  --fz-md: 16px;
  --green-tint: rgba(100, 255, 218, 0.1);
  --dark-navy: #020c1b;
  --slate: #8892b0;
  --slate-light: #ccd6f6;
  background-color: bg-navy-dark;
  
}
.logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
}
.logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
}
@keyframes logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
@media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
      animation: logo-spin infinite 20s linear;
    }
}
.card {
    padding: 2em;
}
  
.read-the-docs {
    color: #888;
}
    

  


body {
  @apply bg-navy-light text-white font-sans;
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}

h1 {
  @apply text-green-500 text-5xl md:text-6xl font-mono;
  font-size: clamp(var(--fz-sm), 5vw, var(--fz-md));
}

h2 {
  @apply text-slate-50 text-3xl leading-tight;
}

h3 {
  @apply text-slate-light mt-2;
  line-height: 0.9;
}

p {
  @apply mt-4 max-w-prose;
}

a {
  @apply font-semibold text-blue-500 no-underline;
}

a:hover {
  @apply text-blue-700;
}

button {
  @apply rounded-lg border border-transparent py-2 px-4 font-medium bg-gray-800 cursor-pointer transition;
}

button:hover {
  @apply border-blue-500;
}

.email-link {
    @apply inline-block px-6 py-4 text-lg font-semibold text-green-200 border-2 border-green-500 rounded-lg mt-12;
    transition: all 0.3s ease-in-out;
  }
  

.email-link:hover {
  @apply bg-green-600 text-navy-dark border-y-green-200;
}

/* Keyframe animations */
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
